<!-- views/addcontact.ejs -->

<!doctype html>
<% include /funcs %>
<html>
  <head>
    <title>Lazicard</title>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  </head>
  <body>


    <div class="reveal" id="exampleModal1" data-reveal>
      <h2 class="text-center">Adding a new contact</h1>
      <div class="row">
        <div class="large-12 columns">
          <p class="lead">Name:</p>
          <input type="text" id="contactName" placeholder="Type your contact name" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <p>Year:</p>
          <input type="text" id="contactYear" placeholder="Don't forget" />
        </div>
        <div class="large-4 medium-4 columns">
          <p>Month:</p>
          <select id="contactMonth">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <div class="large-4 medium-4 columns">
          <p>Day:</p>
          <input type="text" id="contactDay" placeholder="to donate" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p class="lead">Gender:</p>
          <select id="contactGender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p class="lead">Email:</p>
          <input id="contactEmail" type="text" placeholder="Type your contact Email" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p class="lead">Home Address:</p>
          <input type="text" id="contactHomeAddress" placeholder="Type your contact Home Address" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p class="lead">Choose method of delivery:</p>
          <select id="deliveryPreference">
            <option value="physical">Physical</option>
            <option value="ecard">Email</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p class="lead">Send:</p>
          <select>
            <option value="send">Yes</option>
            <option value="send">No</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <a href="/profile" class="button secondary float-left">Cancel</a>
          <button onclick="<% testFunction("Nick") %>" class="button success float-right">Submit</button>
        </div>
      </div>

    <script type="text/javascript">

    globalVar = new Array(8);

    function addUser() {
      console.log("In addUser");
      var contactName = document.getElementById("contactName").value;
      var contactYear = document.getElementById("contactYear").value;
      var contactMonth = document.getElementById("contactMonth").value;
      var contactDay = document.getElementById("contactDay").value;
      var contactGender = document.getElementById("contactGender").value;
      var contactEmail = document.getElementById("contactEmail").value;
      var contactAddress = document.getElementById("contactHomeAddress").value;
      var contactDeliveryPreference = document.getElementById("deliveryPreference").value;

      globalVar.push(contactName);
      globalVar.push(contactYear);
      globalVar.push(contactMonth);
      globalVar.push(contactDay);
      globalVar.push(contactGender);
      globalVar.push(contactEmail);
      globalVar.push(contactAddress);
      globalVar.push(contactDeliveryPreference);



    }
    </script>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).foundation();
    </script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.js"></script>

  </body>
</html>
