<!-- views/addcontact.ejs -->

<!doctype html>

<html>
  <head>
    <title>Lazicard</title>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  </head>
  <body>

    <p>Testing Add2DB</p>

    <script>
    adding2DB = function(name, year, month, day, gender, emailAdd, physicalAdd, deliveryPreference) {
      console.log(name);
    }
    </script>
  </body>
</html>
