<!-- views/donate.ejs -->
<!doctype html>
<html>
  <head>
    <title>Lazicard</title>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  </head>
  <body>

    <div class="reveal" id="Donate" data-reveal>
      <h3>WE ACCEPT ANY PAYMENT METHOD !</h3>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).foundation();
    </script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.js"></script>
  </body>
