<!doctype html>
<html>
  <head>
    <title>Lazicard</title>
		<link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  </head>
  <body>

    <div class = "row">
        <h3>Welcome to Lazicard, User</h3>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="callout">
          <p>Upcoming events:</p>

          <p><a href="/donate" data-open="Donate" class="alert hollow button">Donate Here !</a></p>

<!--
          <div class="reveal" id="Donate" data-reveal>
            <h3>WE ACCEPT ANY PAYMENT METHOD !</h3>
          </div>
-->
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="callout">
          <h5>Address Book</h5>

          <p><a href="/addcontact" data-open="exampleModal1" class="button">Add New Contact</a></p>
					
          </div>
        </div>
      </div>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).foundation();
    </script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.js"></script>

  </body>
</html>
