<!doctype html>
<html>
  <head>
    <title>Lazicard</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <!-- top bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu">
          <li class ="round-button">AP</li>
          <li class="menu-text">Audrey Puls </li>
        </ul>
      </div>
    </div>
    <!-- center Logo  -->
    <img class="float-center" src="Pasted image at 2016_11_14 09_20 PM.png" height="150" width="150">
    <h3 class="text-center">Welcome to Lazicard</h3>
    <!-- French script MTd -->

    <!-- main frame -->
    <div class="row">

      <!-- Left frame: upcoming events -->
      <div class="large-6 medium-6 columns">
        <div class="callout">
          <p>Upcoming events:</p>
          <p><a data-open="Donate" class="alert hollow button">Donate Here !</a></p>
          <div class="reveal" id="Donate" data-reveal>
            <h3>WE ACCEPT ANY PAYMENT METHOD !</h3>
          </div>
        </div>
      </div>

      <!-- Contacts edit -->
      <div class="large-6 medium-6 columns">
        <div class="callout">
          <h5 class="text-center">Address Book</h5>
          <!-- Reveal for Adding new contract -->
          <p><a data-open="new_contract" class="button">Add New Contact</a></p>
          <div class="reveal" id="new_contract" data-reveal>
            <h2 class="text-center">Adding a new contact</h1>
            <div class="row">
              <div class="large-12 columns">
                <p class="lead">Name:</p>
                <input type="text" placeholder="Type your contact name" />
              </div>
            </div>
            <div class="row">
              <div class="large-4 medium-4 columns">
                <p>Year:</p>
                <input type="text" placeholder="Don't forget" />
              </div>
              <div class="large-4 medium-4 columns">
                <p>Month:</p>
                <select>
                  <option value="month">January</option>
                  <option value="month">Feburary</option>
                  <option value="month">March</option>
                  <option value="month">April</option>
                  <option value="month">May</option>
                  <option value="month">Jun</option>
                  <option value="month">July</option>
                  <option value="month">Auguest</option>
                  <option value="month">September</option>
                  <option value="month">Octuber</option>
                  <option value="month">November</option>
                  <option value="month">December</option>
                </select>
              </div>
              <div class="large-4 medium-4 columns">
                <p>Day:</p>
                <input type="text" placeholder="to donate" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="lead">Gender:</p>
                <select>
                  <option value="Gender">Male</option>
                  <option value="month">Female</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="lead">Email:</p>
                <input type="text" placeholder="Type your contact Email" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="lead">Home Address:</p>
                <input type="text" placeholder="Type your contact Home Address" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="lead">Chose ways of delivery:</p>
              </div>
              <div class="large-6 medium-6 columns">
                <input id="physical" type="checkbox"><label for="physical">physical</label>
              </div>
              <div class="large-6 medium-6 columns">
                <input id="email" type="checkbox"><label for="email">email</label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="lead">Send:</p>
                <select>
                  <option value="send">Yes</option>
                  <option value="send">No</option>
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <a class="button secondary float-left">Cancel</a>
                <a class="button success float-right">Submit</a>
              </div>
            </div>
            <!-- Close button for Reveal -->
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- End of Reveal -->

          <!-- Contacts Table -->
          <table>
            <thead>
              <tr>
                <th width="100">Recipient</th>
                <th width="350">Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nick Montoya</td>
                <td>
                  <p>Email address:</p>
                  <p>Physical address:</p>
                  <p>Birthdate:</p>
                  <div class="row">
                    <div class="large-5 columns">
                      <p>Delivery Methods:</p>
                    </div>
                    <div class="large-4 columns">
                      <input id="physical" type="checkbox"><label for="physical">physical</label>
                    </div>
                    <div class="large-3 columns">
                      <input id="email" type="checkbox"><label for="email">email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-5 columns">
                      <p>Repeat Service:</p>
                    </div>
                    <div class="large-4 columns">
                      <input id="Yes" type="checkbox"><label for="Yes">Yes</label>
                    </div>
                    <div class="large-3 columns">
                      <input id="No" type="checkbox"><label for="No">No</label>
                    </div>
                  </div>
                  <!-- Reveal of Edit contact -->
                  <p><a data-open="Edit" class="round-button float-right" style="background:#7ee56e;">Edit</a></p>
                  <div class="reveal" id="Edit" data-reveal>

                  </div>
                </td>
              </tr>
              <tr>
                <td>Dan Schwabacher</td>
                <td>lalalalalala</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).foundation();
    </script>
  </body>
</html>
