.background_main{
    background-color: gray;
}

.center{
    text-align: center;
    margin: 0 auto;

}

.logo{
    color: white;
}

.info{
    margin: 0 auto;
    text-align: center;
    font-size: 28;
    color: white;
}
